@model GummiBearKingdom.Models.Product

<h1>Create a new Product</h1>

@using (Html.BeginForm())
{
    <label>Category Name</label>
    @Html.EditorFor(model => model.ProductName)

    <label>Description</label>
    @Html.EditorFor(model => model.ProductCost)

    <label>Country</label>
    @Html.EditorFor(model => model.ProductCountry)

    <input type ="submit" value="Create" class="btn btn-success"/>
}


@Html.ActionLink("Back", "Details", "Category", new { CategoryId = @ViewBag.thisCategory.CategoryId })